.chef-card {
    max-width: 290px;
    min-width: 250px;
  /* border: 2px dashed #a855f7; purple-500 */
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chef-card  .chef-card:hover {
  transform: translateY(-4px);
}

.chef-card .chef-img {
  max-width: 267px;
min-width: 267px;
  height: 260px;
  object-fit: cover;
}

.chef-card .chef-body {
  padding: 12px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.chef-card .chef-name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
}

.chef-card .chef-desc {
  font-size: 0.9rem;
  color: #4b5563; /* Tailwind slate-600 */
}
