.reviews-section {
  background: linear-gradient(180deg, #f5f9ff 0%, #eff4fb 100%);
  padding: 50px 0;
}

.filter-buttons .btn {
  border-radius: 25px;
  font-weight: 500;
  width: 145px;
  height: 36px;
  padding: 6px 15px;
}

.active-btn {
  background-color: #2563eb;
  color: white;
  border: none;
}

.review-card {
  background-color: white;
  border-radius: 12px;
  position: relative;
  padding: 16px;
  box-shadow: 2px 3px 2px  rgba(24, 25, 27, 0.2);;
  min-height: 240px;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-card.active {
  outline: 2px solid #2563eb;
  box-shadow: 0 4px 20px rgba(37, 99, 235, 0.2);
}

.img-placeholder {
    position: absolute;
  height: 50px;
  width: 50px;
      top: -35px;
    left: 35px;
  background-color: #d8d8d8;
  border-radius: 4px;
  align-self: center;
}

.stars {
  display: flex;
  gap: 2px;
  margin: 10px 0;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.text {
  font-size: 14px;
  color: #333;
  flex-grow: 1;
}

.icons {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

.icon-box {
  width: 24px;
  height: 24px;
  background-color: #ccc;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nav-btn {
  border-radius: 50%;
  padding: 4px 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.page-number {
  font-size: 14px;
  font-weight: 500;
}
