.footer {
  background-color: #0e1a2b;
  color: #ffffff;
  padding: 40px 0;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  width: 40px;
  margin-bottom: 10px;
}

.logo-text .tagline {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.logo-text .description {
  font-size: 14px;
  color: #c0c0c0;
  margin-top: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  color: #ffffff;
}

.footer-links ul li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

.footer-links ul li:hover {
  text-decoration: underline;
}

.address h5 {
  font-size: 16px;
  font-weight: 600;
}

.address p {
  font-size: 14px;
  color: #c0c0c0;
  margin-top: 10px;
}

.store-buttons img {
  width: 140px;
  margin-top: 10px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #c0c0c0;
}
.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  /* padding: 8px; */
  /* border-radius: 8px; */
  width: fit-content;
}
.horizontal-divider{
 /* width: 2px; */
 /* height: 2px; */
  /* height: 100px; */
background: linear-gradient(to bottom, #0e2a4c, #11366a, #091d36);
  margin: 0 20px;
  border: none;
}
.social-icons svg {
      border: 1px solid #ffffff;
  padding: 2px;
    border-radius: 6px;

  color: #ffffff;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.social-icons svg:hover {
  color: #ffb703;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .footer-links {
    text-align: center;
    margin-top: 20px;
  }
  .footer-links ul {
    margin-bottom: 20px;
  }
  .store-buttons img {
    width: 120px;
  }
}
